# Ignore large data files
python_fbas/constellation/data/random/
python_fbas/constellation/data/tmp/

# Ignore compiled Python files and cache directories
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore IDE configurations and version control files
.git/
.vscode/
.idea/
