# Ignore large data files
**/tmp/
**/random/

# Ignore compiled Python files and cache directories
**/__pycache__/
**/*.pyc
**/*.pyo

# virtual envs
.venv
venv

# Ignore IDE configurations and version control files
.git/
.vscode/
.idea/
