build/
dist/

# Ignore compiled Python files and cache directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/

# virtual envs
.venv
venv

# Ignore IDE configurations and version control files
.git/
.vscode/
.idea/
.devcontainer/
.claude/
.aider*
.tmux.conf
pip-failure.log
