# python-fbas generator configuration file
# Use with: python-fbas random-sybil-attack-fbas --generator-config=FILE
# Add --print-fbas to output the generated FBAS JSON

orgs: 20
sybils: 20
sybils_cluster_2: 20
num_sybil_clusters: 2
sybil_bridge_orgs: 2
quorum_selection: random
record_run: true
runs_dir: runs
original_edge_probability: 0.4
sybil_sybil_edge_probability: 0.7
sybil2_sybil2_edge_probability: 0.7
attacker_to_sybil_edge_probability: 0.7
attacker_to_attacker_edge_probability: 1 
attacker_to_honest_edge_probability: 0.7
sybil_to_honest_edge_probability: 0.0
sybil_to_attacker_edge_probability: 0.7
sybil_to_sybil_bridge_edge_probability: 0.7
sybil_bridge_to_sybil2_edge_probability: 0.7
sybil_bridge_to_sybil_bridge_edge_probability: 0.7
sybil2_to_honest_edge_probability: 0.7
sybil2_to_attacker_edge_probability: 0.7
sybil2_to_sybil1_edge_probability: 0.7
sybil2_to_sybil_bridge_edge_probability: 0.7
sybil1_to_sybil2_edge_probability: 0.7
connect_attacker_to_attacker: true
connect_attacker_to_honest: true 
connect_sybil_to_honest: true
connect_sybil_to_attacker: true
connect_sybil_bridge_to_sybil_bridge: false
connect_sybil2_to_honest: false
connect_sybil2_to_attacker: false
connect_sybil2_to_sybil1: false
connect_sybil2_to_sybil_bridge: false
connect_sybil1_to_sybil2: false
seed: null
